<div class="jumbotron">

  <h1>Blocitoff</h1>
  <p class="lead">
      <i class="fa fa-check-square-o fa-4"></i><br>
    Always have clean socks
  </p>
  <p><a class="btn btn-lg btn-primary" ng-href="#/sign_up">Seriously?</a></p>
</div>

<div class="row marketing">
  <h4>Remembers anything and everything</h4>
  <p>
    Blocitoff keeps track of your life so you don't have to.
  </p>

  <h4>Intuitive</h4>
  <p>
    If you haven't completed a task in 7 days it probably wasn't really that important anyways and is automatically deleted.
  </p>
</div>
